@import './styles/variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: $color-font-base;
}

body {
  min-height: 100vh;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

button,
input,
textarea {
  font-size: 1rem;
  outline: none;
}

.page-section {
  display: flex;
  justify-content: center;
}

.page-container {
  width: 100%;
  max-width: $container-max-width;
  padding: 0 $spacing * 2;
}
