.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
}

.slide > img {
  width: 100%;
}
