@import '../../styles/_variables';
@import '../../styles/mixins';

.header {
  background: $main-color;
  height: $header-height;
  display: flex;
  box-shadow: $container-shadow;
}

.content {
  @include content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.block {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
